*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#overlay
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 500;
}

.popup{
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 400px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    align-items: center;
}

.popup.active{
    z-index: 9999;
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}

.container{
    transition: 0.25s;
}

.container#blur.active{
    filter: blur(10px);
    transform: scale(1.05); 
    transition: 0.25s;
}

.popup .closeButton{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .formElement{
    margin: 15px 0px;
}

.popup .form .formElement label{
    font-size: 14px;
    color: #222;
}

.popup .form .formElement input[type="text"],
.popup .form .formElement input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .formElement button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #1C3879;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .formElement a{
    display: block;
    text-align: right;
    font-size: 10px;
    color: #363636;
    text-decoration: none;
    font-weight: 500;
}


.header{
    position: absolute;
    transition: 0.5s;
}

.header-scrolled{
    transition: 0.5s;
    background-color: #004AB8;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: #1C3879;
    z-index: 100;
}

nav #show-popup{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    border: 2px solid #fff;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 50px;
    transition: 0.5s;
}

nav #show-popup:hover{
    transition: 0.5s;
    color: #000;
    background-color: #fff;
}

nav ul{
    margin-left: 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

#home:hover{
    text-decoration:overline;
}

#feature:hover{
    text-decoration:overline;
}

#blog:hover{
    text-decoration:overline;
}

#about:hover{
    text-decoration:overline;
}

*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.body{
    /* margin-top: 550px; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0 1.5rem;
    position: relative;
}

.card-container .latest {
    font-family: 'Playfair Display';
    letter-spacing: 1px;
    font-size: 50px;
    color: #000;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.blog-post {
    width: 100%;
    max-width: 1400px;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 30px;
}

.blog-post:hover {
    transform: scale(1.025);
    transition: 0.5s;
}

.blog-post_img {
    min-width: 35rem;
    max-width: 40rem;
    height: 30rem;
    transform: translateX(-3rem);
    position: relative;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .8rem;
    display: block;
}

.blog-post_img img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
}

.blog-post_date span {
    display: block;
    color: #00000080;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post_title {
    font-size: 4rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #000;
    font-family: 'Playfair Display';
}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #000000b3;
}

.blog-post_cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: .8rem;
    background: #1C3879;
    transition: 0.5s;
}

.blog-post_cta:hover {
    background: #fff;
    color: #1C3879;
    border: solid #1C3879;
    transition: 0.5s;
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }
    .blog-post_img {
        min-width: 30rem;
        max-width: 30rem;
    }
    .container h2 {
        margin-top: 120px;
        margin-left: 275px;
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
    }
    .container h2 {
        margin-top: 20px;
        margin-left: 142px;
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -1rem);
    }
    .container {
        margin-top: auto;
    }
}

@media screen and (max-width: 823px) {
    .container h2 {
        margin-top: 35px;
        margin-left: 142px;
    }
}

.to-top {
    background: black;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color: #fff;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }    